* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex: 1;
    width: 70%;
}

#instructions {
    text-align: center;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#player {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

.animate{
    animation: jump 500ms;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#obstacles {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: obstacles 3s infinite linear;
}

@keyframes obstacles {
    0%{left:480px;}
    100%{left:-40px;}
}

