* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

h3 {
    font-size: 18px;
}

main {
    display: flex;
    justify-content: space-around;
    flex: 1;
    width: 100%;
    align-items: center;
}

#instructions {
    text-align: center;
    padding: 50px;
    font-size: 10px;
}

#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    background-color: aqua;
    margin: auto;
    overflow: hidden;
}

.player {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 100px;
    border-radius: 50%;
    background-image: url("https://www.serebii.net/pokedex-sv/icon/new/912.png");
    background-color: yellow;
}

.player2 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 150px;
    border-radius: 50%;
    background-image: url("https://www.serebii.net/pokedex-sm/icon/054.png");
    background-color: blue;
}

.animate{
    animation: jump 500ms;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#obstacles {
    width: 50px;
    height: 500px;
    background-color: seagreen;
    position: relative;
    left: 400px;
}

@keyframes obstacles {
    0%{left:400px;}
    100%{left:-50px;}
}

#safespot {
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
}

.begin {
    animation: obstacles 3s infinite linear; /* start the animation */
}

button {
    transition-duration: 0.4s;
}

button:hover {
  background-color: aqua; 
  color: black;
}

#reset {
    background-color:pink; 
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#reset:hover {
  background-color: red;
  color: white;
}

/* Mobile responsive */
@media (max-width: 400px) {
    h3 {
        font-size: 12px;
    }
    #game {
        width: 250px;
    }

    #instructions {
        text-align: center;
        padding: 15px;
        font-size: 10px;
    }
  }